Repository googleapis/java-bigtable, pull requests merged in 2021-11, with the labels that each got.

#1057 chore(java): remove pin on Apache Maven 3.8.1 from github actions
  .github/workflows/ci.yaml
  synth.metadata
Labels: cla: yes, api: bigtable, automerge, context: full

#1058 ci: Update ci.yaml
  .github/workflows/ci.yaml
  synth.metadata
Labels: cla: yes, api: bigtable, context: full

#1060 build: synthtool template changes
  .github/workflows/ci.yaml
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: cla: yes, api: bigtable, context: full

#1061 deps: update shared-dependencies to 0.20.2
  google-cloud-bigtable-deps-bom/pom.xml
Labels: cla: yes, api: bigtable

#1055 chore(bigtable): fix service name in resource annotation Type URIs
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BaseBigtableInstanceAdminClientTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BaseBigtableTableAdminClientTest.java
  grpc-google-cloud-bigtable-admin-v2/src/main/java/com/google/bigtable/admin/v2/BigtableInstanceAdminGrpc.java
  grpc-google-cloud-bigtable-admin-v2/src/main/java/com/google/bigtable/admin/v2/BigtableTableAdminGrpc.java
  grpc-google-cloud-bigtable-v2/src/main/java/com/google/bigtable/v2/BigtableGrpc.java
  proto-google-cloud-bigtable-admin-v2/src/main/java/com/google/bigtable/admin/v2/BigtableInstanceAdminProto.java
  proto-google-cloud-bigtable-admin-v2/src/main/java/com/google/bigtable/admin/v2/BigtableTableAdminProto.java
  proto-google-cloud-bigtable-admin-v2/src/main/java/com/google/bigtable/admin/v2/InstanceProto.java
  proto-google-cloud-bigtable-admin-v2/src/main/java/com/google/bigtable/admin/v2/TableProto.java
  proto-google-cloud-bigtable-admin-v2/src/main/proto/google/bigtable/admin/v2/bigtable_instance_admin.proto
  proto-google-cloud-bigtable-admin-v2/src/main/proto/google/bigtable/admin/v2/bigtable_table_admin.proto
  proto-google-cloud-bigtable-admin-v2/src/main/proto/google/bigtable/admin/v2/instance.proto
  proto-google-cloud-bigtable-admin-v2/src/main/proto/google/bigtable/admin/v2/table.proto
  proto-google-cloud-bigtable-v2/src/main/java/com/google/bigtable/v2/BigtableProto.java
  proto-google-cloud-bigtable-v2/src/main/proto/google/bigtable/v2/bigtable.proto
  synth.metadata
Labels: cla: yes, api: bigtable, context: full

#1065 chore: refactor bigtable tracers
  google-cloud-bigtable/clirr-ignored-differences.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStub.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracerFactory.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/HeaderTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/HeaderTracerStreamingCallable.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/HeaderTracerUnaryCallable.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/MetricsTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/Util.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracerTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/HeaderTracerTest.java
Labels: cla: yes, api: bigtable

#1056 chore: shade opencensus
  CONTRIBUTING.md
  google-cloud-bigtable-stats/pom.xml
  pom.xml
Labels: cla: yes, api: bigtable

#1069 chore: fix pom version and skip publishing
  google-cloud-bigtable-stats/pom.xml
Labels: cla: yes, api: bigtable

#1071 chore: revert skip publishing for bigtable-stats module
  google-cloud-bigtable-stats/pom.xml
Labels: cla: yes, api: bigtable, automerge

#1075 fix: add placeholder class for bigtable-stats
  google-cloud-bigtable-stats/src/main/java/com/google/cloud/bigtable/stats/MavenPlaceholderShaded.java
Labels: cla: yes, api: bigtable

#1080 chore: remove enable-samples profile
  .kokoro/build.sh
  synth.metadata
Labels: cla: yes, api: bigtable, context: full, samples
