Repository googleapis/java-bigtable, pull requests merged in 2022-12, with the labels that each got.

#1536 feat: implement cross-project table restore
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/RestoreTableRequest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BigtableTableAdminClientTests.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/RestoreTableRequestTest.java
Labels: api: bigtable, size: m

#1546 test(fix): update the test proxy's pom file to build a shaded jar, also correct the README about building an old version
  test-proxy/README.md
  test-proxy/pom.xml
Labels: api: bigtable, size: m

#1553 fix: resolve merge conflict in samples/native-image-sample/pom.xml
  samples/native-image-sample/pom.xml
Labels: api: bigtable, samples, size: s

#1555 feat: enable channel priming by default
  README.md
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/BigtableDataSettings.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/BigtableChannelPrimer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/BigtableDataSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubCloseTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/HeadersTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/mutaterows/MutateRowsRetryTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/readrows/ReadRowsRetryTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/CloudEnv.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/EmulatorEnv.java
Labels: api: bigtable, automerge, size: m

#1557 chore: update readme on client side metrics
  .readme-partials.yml
  README.md
Labels: api: bigtable, size: s

#1561 test(fix): update the test proxy's import paths to work with the shad…
  test-proxy/src/main/java/com/google/cloud/bigtable/testproxy/CbtTestProxy.java
Labels: api: bigtable, size: xs

#1562 fix: Call attemptStarted method with the request
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/mutaterows/MutateRowsAttemptCallable.java
Labels: api: bigtable, automerge, size: xs
