Repository googleapis/java-bigtable, pull requests merged in 2022-10, with the labels that each got.

#1405 samples: Add examples for making requests in a salted row key scenario
  README.md
  samples/snippets/src/main/java/com/example/bigtable/KeySalting.java
  samples/snippets/src/test/java/com/example/bigtable/KeySaltingTest.java
Labels: api: bigtable, samples, size: m

#1477 fix: fix attempt status tag for metrics
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/MetricsTracer.java
Labels: api: bigtable, size: s

#1478 fix: set a longer timeout to wait for callbacks to be executed
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracerTest.java
Labels: api: bigtable, size: s

#1475 chore: Adding unavailableZones to PartialList*Exception message
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/PartialListClustersException.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/PartialListInstancesException.java
Labels: api: bigtable, size: xs

#1479 fix: rename metric names to match the external name
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/it/BuiltinMetricsIT.java
Labels: api: bigtable, automerge, size: xs
