Repository googleapis/java-bigtable, pull requests merged in 2022-09, with the labels that each got.

#1375 test: disable integration test
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/it/BuiltinMetricsIT.java
Labels: api: bigtable, size: xs

#1376 feat: Expose CDC data API settings in EnhancedBigtableStubSettings
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettingsTest.java
Labels: api: bigtable, size: m

#1377 test: fix metrics integration test, remove the server latency since this field…
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/it/BuiltinMetricsIT.java
Labels: api: bigtable, size: xs

#1388 chore: move cloud monitoring bom to deps bom
  google-cloud-bigtable-deps-bom/pom.xml
  google-cloud-bigtable-stats/pom.xml
  google-cloud-bigtable/pom.xml
Labels: api: bigtable, automerge, size: s

#1430 fix: add a UUID in the task value
  google-cloud-bigtable-stats/src/main/java/com/google/cloud/bigtable/stats/BigtableStackdriverExportUtils.java
Labels: api: bigtable, automerge, size: xs
