Repository googleapis/java-bigtable, pull requests merged in 2022-04, with the labels that each got.

#1220 chore(test): try to deflake the MetricsTracerTest
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/MetricsTracerTest.java
Labels: api: bigtable, automerge, size: s

#1218 chore: update rowset sharding to use split points as start keys
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/internal/RowSetUtil.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/internal/RowSetUtilTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/models/QueryTest.java
Labels: api: bigtable, automerge, size: l

#1227 ci: configure the protected branch
  .github/workflows/ci.yaml
Labels: api: bigtable, automerge, size: m

#1237 docs(sample): remove unused native-image-support dependency
  samples/native-image-sample/pom.xml
Labels: api: bigtable, samples, size: xs
