Repository googleapis/java-bigtable, pull requests merged in 2023-10, with the labels that each got.

#1945 test: don't hide stacktraces in BigtableInstanceAdminClientIT tests
  README.md
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/it/BigtableInstanceAdminClientIT.java
Labels: api: bigtable, automerge, size: s

#1950 build: do not declare javadoc plugin version
  grpc-google-cloud-bigtable-admin-v2/pom.xml
  grpc-google-cloud-bigtable-v2/pom.xml
  pom.xml
Labels: api: bigtable, size: xs

#1951 chore: clean up old synthtool file
  .kokoro/readme.sh
Labels: api: bigtable, size: s

#1976 test(fix): update the test proxy to allow enabling optional features,…
  test-proxy/src/main/java/com/google/cloud/bigtable/testproxy/CbtTestProxy.java
  test-proxy/src/main/proto/test_proxy.proto
Labels: api: bigtable, automerge, size: s

#1977 chore(deps): manually updating the Libraries BOM
  README.md
  samples/native-image-sample/pom.xml
  samples/snippets/pom.xml
Labels: api: bigtable, size: xs

#1983 chore: update graalvm container images to 22.3.3
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
Labels: api: bigtable, size: xs
