Repository googleapis/java-bigtable, pull requests merged in 2023-06, with the labels that each got.

#1783 deps: update shared dependencies to 3.11.0
  google-cloud-bigtable-deps-bom/pom.xml
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/HeadersTest.java
Labels: api: bigtable, automerge, size: xs

#1807 deps: update shared dependencies to 3.12.0, monitoring to 3.21.0, update renovate config
  google-cloud-bigtable-deps-bom/pom.xml
  renovate.json
Labels: api: bigtable, size: s

#1711 feat: reverse scans public preview
  google-cloud-bigtable/clirr-ignored-differences.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/internal/RowMergerUtil.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/internal/RowSetUtil.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/Query.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/readrows/ReadRowsResumptionStrategy.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/readrows/RowMerger.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/readrows/RowMergingCallable.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/readrows/StateMachine.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/BigtableDataClientFactoryTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/internal/RowSetUtilTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/it/ReadIT.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/models/QueryTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/readrows/StateMachineTest.java
  samples/snippets/src/main/java/com/example/bigtable/Reads.java
  samples/snippets/src/test/java/com/example/bigtable/ReadsTest.java
Labels: api: bigtable, automerge, size: l

#1810 test: fix samples for reverse scans
  samples/snippets/src/main/java/com/example/bigtable/Reads.java
  samples/snippets/src/test/java/com/example/bigtable/ReadsTest.java
Labels: api: bigtable, automerge, samples, size: s

#1815 fix: remove javadoc external link configuration
  pom.xml
Labels: api: bigtable, automerge, size: xs
