Repository googleapis/java-bigtable, pull requests merged in 2023-04, with the labels that each got.

#1688 deps: upgrade shared dependencies to 3.6.0 and monitoring to 3.15.0
  google-cloud-bigtable-deps-bom/pom.xml
  google-cloud-bigtable/pom.xml
Labels: api: bigtable, size: xs

#1699 test(fix): add conformance test to the CI pipeline (redo of PR#1698).
  .github/workflows/conformance.yaml
  .kokoro/conformance.sh
  test-proxy/known_failures.txt
Labels: api: bigtable, size: m

#1472 samples: add delete samples
  README.md
  samples/snippets/src/main/java/com/example/bigtable/deletes/BatchDeleteExample.java
  samples/snippets/src/main/java/com/example/bigtable/deletes/ConditionalDeleteExample.java
  samples/snippets/src/main/java/com/example/bigtable/deletes/DeleteColumnCellsExample.java
  samples/snippets/src/main/java/com/example/bigtable/deletes/DeleteColumnFamilyExample.java
  samples/snippets/src/main/java/com/example/bigtable/deletes/DeleteRowExample.java
  samples/snippets/src/main/java/com/example/bigtable/deletes/DeleteTableExample.java
  samples/snippets/src/main/java/com/example/bigtable/deletes/DropRowRangeExample.java
  samples/snippets/src/test/java/com/example/bigtable/MobileTimeSeriesBaseTest.java
  samples/snippets/src/test/java/com/example/bigtable/deletes/DeletesTest.java
Labels: api: bigtable, automerge, samples, size: l

#1702 deps: upgrade maven-enforcer-plugin to 3.3.0, remove duplicate entry in pom
  google-cloud-bigtable/pom.xml
Labels: api: bigtable, size: s

#1689 chore: fix regex for file matching in renovate config
  renovate.json
Labels: api: bigtable, size: xs

#1706 chore: remove enforce-declared-grpc-and-proto-version enforcer check
  google-cloud-bigtable/pom.xml
  renovate.json
Labels: api: bigtable, automerge, size: s

#1709 chore: have renovate label protoc and protoc grpc as test deps
  renovate.json
Labels: api: bigtable, size: xs

#1604 feat: track the latency a request is queued on the grpc channel
  google-cloud-bigtable-stats/clirr-ignored-differences.xml
  google-cloud-bigtable-stats/src/main/java/com/google/cloud/bigtable/stats/StatsRecorderWrapper.java
  google-cloud-bigtable-stats/src/test/java/com/google/cloud/bigtable/stats/StatsRecorderWrapperTest.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStub.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableGrpcStreamTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracerBatchedUnaryCallable.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracerStreamingCallable.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracerUnaryCallable.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/Util.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracerTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracerTest.java
Labels: api: bigtable, automerge, size: l

#1727 test(fix): update the version of protoc such that it supports optiona…
  test-proxy/pom.xml
Labels: api: bigtable, automerge, size: xs
