Repository googleapis/java-bigtable, pull requests merged in 2023-09, with the labels that each got.

#1905 fix: aggregate batching throttling latency per attempt and reset it between
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/MetricsTracer.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/MetricsTracerTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/StatsTestUtils.java
Labels: api: bigtable, size: m

#1904 build: update docFX profile to enable overriding doclet path
  pom.xml
Labels: api: bigtable, size: xs

#1906 chore: make conformance tests a required check
  .github/sync-repo-settings.yaml
Labels: api: bigtable, size: xs

#1908 fix: make sure to propagate the response when throttling is enabled
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/RateLimitingServerStreamingCallable.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/RateLimitingCallableTest.java
Labels: api: bigtable, automerge, size: s

#1914 chore: migrate to gapic-libraries-bom
  google-cloud-bigtable-deps-bom/pom.xml
Labels: api: bigtable, automerge, size: s

#1913 fix: set wait timeout on watchdog
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStub.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubTest.java
Labels: api: bigtable, automerge, size: m

#1915 chore: migrate to improved batch throttling feature flag
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubTest.java
Labels: api: bigtable, automerge, size: xs

#1923 fix: check that all bulk mutation entries are accounted for (#1907)
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/mutaterows/MutateRowsAttemptCallable.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracerCallableTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracerTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/MetricsTracerTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/StatsHeadersCallableTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/mutaterows/MutateRowsAttemptCallableTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/mutaterows/MutateRowsRetryTest.java
Labels: api: bigtable, automerge, owlbot:ignore, size: m

#1918 chore: update renovate config with gapic-libraries-bom
  renovate.json
Labels: api: bigtable, size: xs

#1930 chore: turn off yoshi-approver
  .github/workflows/auto-release.yaml
Labels: api: bigtable, size: m

#1939 fix: a rare race condition in the row merger
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/gaxx/reframing/ReframingResponseObserver.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/gaxx/reframing/ReframingResponseObserverTest.java
Labels: api: bigtable, size: m
