Repository googleapis/java-bigtable, pull requests merged in 2023-05, with the labels that each got.

#1729 feat: add rate limiting callable
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/RateLimitingServerStreamingCallable.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/RateLimitingCallableTest.java
Labels: api: bigtable, size: l

#1730 feat: add APIs to enable batch write flow control
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/BigtableDataSettings.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/BigtableBatchingCallSettings.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStub.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/BigtableDataSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/BigtableBatchingCallSettingsTest.java
Labels: api: bigtable, size: m

#1731 feat: send feature flag when flow control is enabled
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubTest.java
Labels: api: bigtable, size: m

#1271 feat: resizing channel pool size based on the work load
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
Labels: api: bigtable, automerge, size: s

#1738 test(fix): update the test proxy to sync with the recent test update
  test-proxy/README.md
  test-proxy/src/main/java/com/google/cloud/bigtable/testproxy/CbtTestProxy.java
  test-proxy/src/main/proto/test_proxy.proto
Labels: api: bigtable, size: s

#1740 chore(deps): update ghcr.io/graalvm/graalvm-ce docker tag to v22.3.2
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
Labels: api: bigtable, size: xs

#1741 docs: clean up BetaApi annotations from built in metrics API
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/BigtableDataSettings.java
Labels: api: bigtable, automerge, size: s

#1761 deps: update doclet version to v1.9.0
  pom.xml
Labels: api: bigtable, size: xs

#1762 docs(samples): add bigtable filter snippet
  samples/snippets/src/main/java/com/example/bigtable/Filters.java
  samples/snippets/src/test/java/com/example/bigtable/FiltersTest.java
Labels: api: bigtable, size: s

#1765 chore: remove renovate grouping for test protoc and grpc dependencies
  renovate.json
Labels: api: bigtable, automerge, size: xs

#1764 chore: move snippets from Filters to hw class
  samples/snippets/src/main/java/com/example/bigtable/Filters.java
  samples/snippets/src/main/java/com/example/bigtable/HelloWorld.java
  samples/snippets/src/test/java/com/example/bigtable/FiltersTest.java
Labels: api: bigtable, size: m

#1768 docs(samples): remove client initialization
  samples/snippets/src/main/java/com/example/bigtable/HelloWorld.java
Labels: api: bigtable, samples, size: m

#1772 test: workaround existing bug in gax that prevents conformance tests from passing
  test-proxy/src/main/java/com/google/cloud/bigtable/testproxy/CbtTestProxy.java
Labels: api: bigtable, automerge, size: m
