Repository googleapis/java-bigtable, pull requests merged in 2024-08, with the labels that each got.

#2274 fix: adapt `toString` tests to introduction of java.time in gax
  .github/workflows/unmanaged_dependency_check.yaml
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-bigtable-bom/pom.xml
  google-cloud-bigtable-deps-bom/pom.xml
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BigtableInstanceAdminSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BigtableTableAdminSettingsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracerTest.java
  pom.xml
Labels: api: bigtable, size: s

#2285 test: Add ExecuteQuery integration tests for SQL
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/it/ExecuteQueryIT.java
Labels: api: bigtable, size: l

#2309 feat(bigtable): Remove deprecated Bytes from BigEndianBytesEncoding
  README.md
  google-cloud-bigtable/clirr-ignored-differences.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/Type.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/TypeProtos.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/TypeTest.java
Labels: api: bigtable, size: s

#2307 fix: add missing call to EqualsTester#testEquals
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/common/TypeTest.java
Labels: kokoro:force-run, api: bigtable, automerge, size: xs

#2304 chore: Use LazyStringArrayList
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/models/RowCellTest.java
Labels: api: bigtable, size: s

#2273 chore: remove native image sample in favor of sample hosted in google-cloud-java
  README.md
  samples/native-image-sample/README.md
  samples/native-image-sample/pom.xml
  samples/native-image-sample/src/main/java/com/example/bigtable/NativeImageBigtableSample.java
  samples/native-image-sample/src/test/java/com/example/bigtable/NativeImageBigtableTest.java
  samples/pom.xml
Labels: api: bigtable, samples, size: l
