Repository googleapis/java-bigtable, pull requests merged in 2024-09, with the labels that each got.

#2321 chore: make the owlbot postprocessor check non-required
  .github/sync-repo-settings.yaml
Labels: api: bigtable, size: xs

#2320 chore: disable the Owl Bot post-processor
  .github/.OwlBot.lock.yaml
Labels: api: bigtable, size: s

#2334 chore: add generator version to config
  .github/workflows/hermetic_library_generation.yaml
  generation_config.yaml
Labels: api: bigtable, size: s

#2335 chore: restore library generation workflow
  .github/workflows/hermetic_library_generation.yaml
  generation_config.yaml
Labels: api: bigtable, size: s

#2313 feat: Add APIs to enable hot backups
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/Backup.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/CreateBackupRequest.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/UpdateBackupRequest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BigtableTableAdminClientTests.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/it/BigtableBackupIT.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/BackupTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/CreateBackupRequestTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/UpdateBackupRequestTest.java
Labels: api: bigtable, size: l

#2339 chore: Add Clirr exemptions for Protobuf 4.27.4+ runtime
  proto-google-cloud-bigtable-admin-v2/clirr-ignored-differences.xml
  proto-google-cloud-bigtable-v2/clirr-ignored-differences.xml
Labels: api: bigtable, size: m

#2327 test: Modify log formatter for verbose logging to help debug issues.
  google-cloud-bigtable/src/test/resources/logging-verbose.properties
Labels: api: bigtable, size: xs

#2355 fix: pass deadline through ExecuteQuery RetrySettings
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStub.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/sql/ExecuteQueryCallableTest.java
Labels: api: bigtable, size: m

#2358 fix: time based flakiness in execute query deadline test
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/sql/ExecuteQueryCallableTest.java
Labels: api: bigtable, size: s

#2361 test: clean up CookieHolderTest
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/CookiesHolderTest.java
Labels: api: bigtable, size: s
