Repository googleapis/java-bigtable, pull requests merged in 2024-06, with the labels that each got.

#2256 fix: Add getServiceName() to EnhancedBigTableStubSettings
  README.md
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
Labels: api: bigtable, automerge, size: s

#2257 test: reduce test noise
  google-cloud-bigtable/pom.xml
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/ErrorCountPerConnectionTest.java
  google-cloud-bigtable/src/test/resources/logging.properties
  pom.xml
Labels: api: bigtable, size: m

#2259 test: deflake flow control test
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/DynamicFlowControlCallableTest.java
Labels: api: bigtable, automerge, size: s

#2263 test: ensure that directpath is enabled for direct path tests
  README.md
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/CloudEnv.java
Labels: api: bigtable, automerge, size: s

#2033 fix: remove grpclb
  google-cloud-bigtable/pom.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
Labels: kokoro:force-run, api: bigtable, size: s
