Repository googleapis/java-bigtable, pull requests merged in 2024-07, with the labels that each got.

#2261 feat: Create new environment variable to toggle directpath scoped to cloud bigtable.
  google-cloud-bigtable/pom.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/CloudEnv.java
Labels: api: bigtable, size: s

#2284 test: fix samples test that was broken by a test harness change
  README.md
  samples/snippets/src/test/java/com/example/bigtable/deletes/DeletesTest.java
Labels: api: bigtable, automerge, samples, size: s

#2287 feat: Add support for new functions
  google-cloud-bigtable/clirr-ignored-differences.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/Type.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/BigtableTableAdminClientTests.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/TypeProtos.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/TableAdminRequestsTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/TypeTest.java
Labels: api: bigtable, size: l

#2258 feat: Add support for MergeToCell API
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/ChangeStreamMutation.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/ChangeStreamRecordAdapter.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/DefaultChangeStreamRecordAdapter.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/MergeToCell.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/Mutation.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/MutationApi.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/RowMutation.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/RowMutationEntry.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/changestream/ChangeStreamStateMachine.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/models/ChangeStreamMutationTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/models/MutationTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/MutateRowCallableTest.java
  samples/snippets/src/main/java/com/example/bigtable/WriteAggregate.java
Labels: api: bigtable, size: l

#2302 chore: setup 2.39.x lts branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigtable, size: s
