Repository googleapis/java-bigtable, pull requests merged in 2024-05, with the labels that each got.

#2222 fix: batch time series data when exporting client-side metric
  README.md
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableCloudMonitoringExporter.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableCloudMonitoringExporterTest.java
Labels: api: bigtable, size: m

#2239 fix: retry INTERNAL retriable auth errors
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/ConvertExceptionCallable.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/ConvertExceptionCallableTest.java
Labels: kokoro:force-run, api: bigtable, size: s

#2233 ci: automatic kokoro label in addition to /gcbrun comment
  .github/trusted-contribution.yml
Labels: api: bigtable, size: xs

#2243 fix: rate limiting should be ineffective when RateLimitInfo is not present
  README.md
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/RateLimitingServerStreamingCallable.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/RateLimitingCallableTest.java
Labels: api: bigtable, automerge, size: l
