Repository googleapis/java-bigtable, pull requests merged in 2024-10, with the labels that each got.

#2364 fix: support override monitoring endpoint
  google-cloud-bigtable/clirr-ignored-differences.xml
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/BigtableDataClientFactory.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStub.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableCloudMonitoringExporter.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsView.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/DefaultMetricsProvider.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettingsTest.java
Labels: api: bigtable, size: m

#2366 deps: downgrade grpc to 1.67.1
  README.md
  google-cloud-bigtable-deps-bom/pom.xml
  pom.xml
Labels: api: bigtable, automerge, size: s

#2372 chore: use composite action
  .github/scripts/hermetic_library_generation.sh
  .github/workflows/hermetic_library_generation.yaml
Labels: api: bigtable, size: m

#2375 chore: setup renovate to update action
  renovate.json
Labels: api: bigtable, size: s

#2376 test: clean up tests for traffic director
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/it/BuiltinMetricsIT.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/AbstractTestEnv.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/CloudEnv.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/test_helpers/env/EmulatorEnv.java
Labels: api: bigtable, size: m

#2346 fix: fix client blocking latency
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableGrpcStreamTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BigtableTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracer.java
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracer.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/BuiltinMetricsTracerTest.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/data/v2/stub/metrics/CompositeTracerTest.java
Labels: api: bigtable, automerge, size: m

#2381 feat: Test proxy support SSL backend
  test-proxy/src/main/java/com/google/cloud/bigtable/testproxy/CbtTestProxy.java
  test-proxy/src/main/java/com/google/cloud/bigtable/testproxy/CbtTestProxyMain.java
  test-proxy/src/main/proto/test_proxy.proto
Labels: api: bigtable, size: m

#2392 chore: add feature flags for DirectAccess
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/EnhancedBigtableStubSettings.java
Labels: api: bigtable, automerge, size: s
