Repository googleapis/java-bigtable, pull requests merged in 2025-06, with the labels that each got.

#2604 chore: fix viewConfig in AutomatedBackupPolicy
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/admin/v2/models/Table.java
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/models/TableTest.java
Labels: api: bigtable, size: s

#2609 tests(bigtable): fix mv tests zone
  google-cloud-bigtable/src/test/java/com/google/cloud/bigtable/admin/v2/it/BigtableMaterializedViewIT.java
Labels: api: bigtable, automerge, size: s

#2612 ci: add name elements for the POM.xml files
  google-cloud-bigtable-deps-bom/pom.xml
  google-cloud-bigtable-emulator-core/pom.xml
Labels: api: bigtable, size: xs

#2610 fix: populate table id for materialized view
  google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/stub/metrics/Util.java
Labels: api: bigtable, size: xs
